
.tab {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.tablinks {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.3em;
    font-weight:lighter;
    margin-bottom: 1em;
    margin-left: 1.8em;
    background-color: transparent;
    border: none;
    outline: none;
    text-align: left;
}

.tablinks:hover {
    color: darkgray;
    transition-duration: 0.4s;
}
.active {
    font-weight: bold;
}

.active:hover {
    color: black;
}

.layout {
    display: grid;
    grid-template-columns: 40% auto;
    grid-template-rows: auto;
        margin-top: 1em;

}

.description {
    font-family: 'Josefin Sans', sans-serif;
}

.furtherinfo {
    display: flex; 
    justify-content: center;
    margin: 0 2.4em;
}